.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
  padding: 20px 0;
  text-align: center; /* Adjust padding as needed */
}

.single-cta {
  display: inline-block; /* Display items inline */
  margin-right: 20px; 
  margin: 0 20px;/* Adjust margin between items */
}

.single-cta i {
  color: rgb(39, 144, 144);
  font-size: 35px;
  margin-right: 20px; /* Adjust margin between icon and text */
}

.cta-text {
  display: inline-block; /* Display items inline */
  vertical-align: middle;
  font-family: "Sarpanch", sans-serif;
  
  /* Align items vertically */
}

.cta-text h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  vertical-align: middle;
  
  margin: 0; /* Remove margin to avoid unwanted spacing */
}

.cta-text span {
  color: #757575;
  font-size: 20px;
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
  text-align: center; 
  font-family: "Sarpanch", sans-serif;
  /* Center align the text */
}

.copyright-text p {
  margin: 0;
  font-size: 20px;
  color: #878787;
  font-family: "Sarpanch", sans-serif;

}

