/* Login.css */

/* Set background image */
.background-image {
    background-image: url('../images/fluid1.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:6; /* Adjust opacity as needed */
    z-index: -6;
  }
  
  /* Center the login form */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .login-form {
      
    background-color: rgba(255, 255, 255, 0.396); /* Transparent white background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; /* Increased width */
    height: 400px;
    max-width: 90%; /* Responsive adjustment */
    margin: 0 auto; /* Center horizontally */
    
  }
  .login-heading{
    margin-top: -10px;
    font-size: xx-large;
    color: rgb(106, 39, 151);
    font-family: "Share Tech Mono", monospace;
  }
  
  
  /* Style input fields and button */
  .login-input {
   
    width: 90%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1.5px solid white;
    border-radius: 4px;
    font-size: 18px;
  }
  .login-input:focus {
    border-color: #61b1b8; /* Change border color on focus */
    box-shadow: 0 0 3px #FFDAB9; /* Add a subtle shadow */
    outline-offset: 0px;
    outline: none;
  }
  
  .login-button {
    width: 35%;
    padding: 15px;
    background-color: #8a579e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Style links */
  .login-links {
    margin-top: 10px;
    font-size: 20px;
   
  }
  
  .forgot-password
  .signup-link {
    cursor: pointer;
    font-size: 21px;
}
.forgot-password{
      font-family: "Share Tech Mono", monospace;
    color:rgb(96, 31, 138)
  }
  .signup-link{
    color:#524e4e;
    font-family: "Share Tech Mono", monospace;
  }
  
  .signup-text {
    font-family: "Share Tech Mono", monospace;
    color: rgb(96, 31, 138);
    cursor: pointer;
    text-decoration: none;
}
.signup-text :hover{
      text-decoration: none;
    color: rgb(47, 130, 130);
  }
  /* Style welcome back message */
.welcome-back {
    margin-top: 5px;
    font-size: 32px;
    font-weight: bolder;
    color: #666;
    font-family: "Share Tech Mono", monospace;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .login-form {
      width: 80%;
    }
  }
 
 