/* venuePage.css */

.venue-page {
  background-color: #f0f8ff; /* Light blue background */
  padding: 20px;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-fields input,
.input-fields select {
  width: 30%; /* Adjust input field width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.venue-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  column-gap: 200px;
}

.venue-card {
  background-color: #fff; /* White background for each card */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px; /* Two cards in a row with some spacing */
  margin-bottom: 20px;
}

.venue-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Style the venue card details */
.venue-card h3 {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

.venue-card p {
  margin-top: 5px;
  font-size: 18px;
  color: #555;
  text-align: center;
}


